<h2>Panel de Control: Supervisor</h2>

<br/>

<%= link_to 'Ver Reportes', reports_url, class:'btn bg-color-alquilapp text-white' %>

<br/><br/>

<%= link_to 'Ver Pedidos de validación (no funcional)', reports_url, class:'btn bg-color-alquilapp text-white' %>