<h2>Panel de Control: Supervisor</h2>

<%#<br/>

<%#<%= link_to 'Ver Reportes', reports_url, class:'btn bg-color-alquilapp text-white disabled' %>

<%#<br/><br/>

<%#<%= link_to 'Ver Pedidos de validación (no funcional)', reports_url, class:'btn bg-color-alquilapp text-white' %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active text-color-alquilapp" href="/supervisors">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/supervisor/licencias">Licencias</a>
  </li>
</ul>

<br/>
<h4>Inicio</h3>

<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">¡Bienvenido!</div>
  <div class="card-body">
    <h5 class="card-title">Supervisor</h5>
    <p class="card-text">Aquí podrás administrar los vehículos y validar licencias.</p>
  </div>
</div>





