<h2>Panel de control</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active text-color-alquilapp" href="/admin/dashboard">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/vehiculos">Vehículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/supervisores">Supervisores</a>
  </li>
</ul>

<br/>
<h4>Inicio</h3>

<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">¡Bienvenido!</div>
  <div class="card-body">
    <h5 class="card-title">Administrardor</h5>
    <p class="card-text">Aquí podrás administrar los vehículos y supervisores así como generar reportes periódicos del sistema.</p>
  </div>
</div>