<h2>Panel de control</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/dashboard">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/admin/vehiculos">Vehículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/precios">Precios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/supervisores">Supervisores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-color-alquilapp" href="/admin/users">Usuarios</a>
  </li>
</ul>

<br/>
<h4>Vehículos</h4>

<div><%= link_to 'Nuevo vehículo', new_auto_path, class:"btn btn-outline-primary" %></div>
<br/>

<% @autos = Auto.all %>
<% entra = false %>
  <% @autos.each do |auto| %>
    <% if not auto.borrado %>
      <% entra = true %>
    <% end %>
<% end %>

<% if Auto.all == [] || !entra %>
  <div class="my-3 p-4 border border border-secondary rounded">
    <div class="col-12 text-start">
        <div class="text-start">
          Aún no hay vehículos
        </div>
        <div class="row text-start">
          <%= link_to "Nuevo vehículo", new_auto_path %>
        </div>
    </div>        
  </div>
<% else %>
  <div id="autos" class="table-responsive border border border-secondary rounded">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número relativo</th>
          <th scope="col">Patente</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Color</th>
          <th scope="col">Alquilado</th>
          <th scope="col">Habilitado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @autos = Auto.all %>
      <% @autos.each do |auto| %>
        <% if not auto.borrado %>   
          <%= render auto %>
        <% end %>
      <% end %>
      </tbody>
  </table>
  </div>
<% end %>