        <!-- Masthead-->
        <div class="bgimage img-fluid">
        <br><br><br><br><br><br><br><br><br><br><br>
            <div class="container px-4 px-lg-5 h-600 m-7">
                                <div class="row gx-4 gx-lg-5 h-600 align-items-center justify-content-center text-center">
                                    <div class="col-lg-8 align-self-end">
                                        <h1 class="bd-title text-white font-weight-bold">AlquilAPP</h1>
                                        <hr class="divider" />
                                    </div>
                                    <div class="col-lg-8 align-self-baseline">
                                        <p class="text-white mb-5 font-weight-bold">LA SEGURIDAD Y PLACER DE CONDUCIR UN VEHÍCULO COMO SI FUERA TUYO.</p>
                                    </div>
                                </div>
                                <div class="justify-content-center text-center">
                                    <a class="btn btn-outline-primary text-white font-weight-bold" href="/users/sign_up">COMENZAR</a>
                                </div>
                                <br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white p-3">
            <div class="container px-4 px-lg-5 text-center">
                <h3 class="mb-4">¡No esperes más!</h3>
                <a class="btn btn-light btn-xl m-2" href="/users/sign_up">Registrarse</a>
            </div>
        </section>  

    <!-- Services-->        
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Servicio</h2>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold">NUESTRA FLOTA, TU FLOTA</h3>
            <p class="text-muted">Sabemos que el diferencial está en los detalles, y es por ello que nuestros servicios en alquiler de vehículos, tanto en el sector turístico como en el empresarial, se destacan por su calidad y buen gusto para brindarte una experiencia única, segura y agradable.</p>
            <a href="#" class="btn bg-color-alquilapp text-white btn-lg">ELIGE EL TUYO</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4" id="services" >
            <div class="d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="m-3" width="100" height="100" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>

            </div>
            <h4 class="fw-semibold mb-0">En cualquier momento</h4>
            <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <div class="d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-3" width="100" height="100" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>

            </div>
            <h4 class="fw-semibold mb-0">Donde estes</h4>
            <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <div class="d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-3" width="100" height="100" fill="currentColor" class="bi bi-cloud-drizzle" viewBox="0 0 16 16">
                <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973zM8.5 2a4 4 0 0 1 3.976 3.555.5.5 0 0 0 .5.445H13a2 2 0 0 1 0 4H3.5a2.5 2.5 0 1 1 .605-4.926.5.5 0 0 0 .596-.329A4.002 4.002 0 0 1 8.5 2z"/>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0">Todos los dias</h4>
            <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <div class="d-flex flex-column gap-2">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="m-3" width="100" height="100" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <h4 class="fw-semibold mb-0">Al mejor precio</h4>
            <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        </div>
  </div> 