<div class='container'>
    <h2>Términos y Condiciones</h2>
    <p>Find me in app/views/terminos_condiciones/show.html.erb</p>

    <div>
        <%= link_to "Atrás", new_user_registration_path %>
    </div>
</div>
