<div class= "w-100 m-auto">
<h2 class="text-center">Editar Perfil</h2>

<%= render "form", usuario: @usuario %>

<br/>
<div class="row justify-content-center">
  <div class="col-6 text-center">
    <%= link_to "Editar email y/o contraseña", edit_user_registration_path, class:"btn btn-outline-primary" %>
    <%= link_to "Atrás", :back, class:"btn btn-outline-primary" %>
  </div>
</div>
<br/>

</div>

